
/* ##### TABS TOOLBAR ##################################### */

/* Hide main tabs toolbar */
#TabsToolbar {
	visibility: collapse;
}





/* ##### URL BAR ########################################## */

/* Hide (i) in URL bar */
#identity-icon {
	width: 0 !important;
}
/* Adjust lock icon to be closer to edge */
#identity-box {
	padding-inline-start: 2px !important;
}
/* Custom bindings.xml in same folder as userChrome, for simple URL */
/* #urlbar { */
/* 	-moz-binding: url("bindings.xml#urlbar") !important; */
/* } */
/* Center URL */
#urlbar .urlbar-input-box {
	text-align: center;
	margin-bottom: 1px;
}
#urlbar {
	background-color: #073642 !important;
}
#urlbar[focused="true"] {
	border-color: #657b83 !important;
}
#nav-bar {
	background-color: #002b36 !important;
}
/* Bookmark padding */
toolbarbutton.bookmark-item:not(.subviewbutton) {
	padding: 1px 6px !important;
}
/* Get rid of bookmark icon */
.bookmark-item .toolbarbutton-icon {
	display: none;
}

#reload-button, .chromeclass-toolbar-additional,
toolbar .toolbarbutton-1:not([disabled="true"]) .toolbarbutton-badge-stack {
  fill: #839496 !important;
}

.chromeclass-toolbar-additional[disabled="true"] {
	opacity: 1.0 !important;
	fill: #586e75 !important;
}

/* Active hovered toolbar buttons*/
toolbar .toolbarbutton-1:not([disabled="true"]):hover .toolbarbutton-icon,
toolbar .toolbarbutton-1:not([disabled="true"]):hover .toolbarbutton-badge-stack,
toolbar .toolbarbutton-1:not([disabled="true"]):active .toolbarbutton-badge-stack,
toolbar .toolbarbutton-1:not([disabled="true"])[open="true"] .toolbarbutton-badge-stack,
toolbar .toolbarbutton-1[checked="true"] .toolbarbutton-icon {
  background-color: #073642 !important;
	fill: #93a1a1 !important;
}

#stop-button,
#stop-reload-button > .toolbarbutton-animatable-image {
  fill: #dc322f !important;
}

.verifiedIdentity #connection-icon {
	fill: #859900 !important;
}
.verifiedIdentity #identity-icon-labels {
	color: #859900 !important;
}

/* Something is fishy with this one */
#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity {
	border-inline-end: 1px solid #859900 !important;
	border-image: linear-gradient(transparent 15%, #859900 15%, #859900 85%, transparent 85%) !important;
}

#star-button[starred] {
  fill: #268bd2 !important;
}




/* ##### SIDEBAR ########################################## */

/* Sidebar min and max width removal */
#sidebar {
	max-width: none !important;
	min-width: 0px !important;
}


/* Remove below if not using TreeStyleTab extension */

/* Hide splitter, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
	display: none !important;
}
/* Hide sidebar header, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
	visibility: collapse;
}
